<footer class="footer">
  <div class="columns is-desktop">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <a href="mailto:tomburns@gmail.com"> 
              tomburns@gmail.com
            </a>
          </div>
        </div>
        <div class="level-right has-text-centered">
          <div class="level-item">
            <ul>
              <li>
                <a href="https://github.com/tomburns"> 
                  <i class="fa fa-github" aria-hidden="true"></i> tomburns
                </a>
              </li>
              <li>
                <a href="https://twitter.com/tomburns"> 
                  <i class="fa fa-twitter" aria-hidden="true"></i> tomburns
                </a>
              </li>
              <li>
                <a href="https://instagram.com/tomburns"> 
                  <i class="fa fa-instagram" aria-hidden="true"></i> tomburns
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>